<h1 *ngIf="calcTotal()">Total Products in the cart: {{calcTotal()}}</h1>

<button *ngIf="products.length" (click)="removeAll()">Remove All</button>
<section>
    <div *ngIf="products.length; else continueShopping">
        <ul *ngFor="let prod of products" fxLayout fxLayoutGap="10px">
            <li>
               <label><strong>Name: </strong> </label> {{prod.name}},
               <label> <strong>Price: </strong> </label> {{prod.price}},
               <label><strong>Quantity: </strong> </label> {{prod.num}}
            </li>
            <button (click)="add(prod)">+</button>
            <button (click)="remove(prod)">-</button>
        </ul>
    </div>
</section>

<ng-template #continueShopping>
    <div>
        <h1>No item in your cart!!</h1>
        <a routerLink="../product">Continue Shopping</a>
    </div>
</ng-template>


<footer *ngIf="calcTotal()">
   <strong>TOTAL PRICE: </strong>  {{calcTotalPrice()}}
</footer>