<button *ngIf="products.length" (click)="removeAll()">Remove All</button>
<div *ngIf="products.length; else continueShopping">
    <ul *ngFor="let prod of products" fxLayout fxLayoutGap="10px">
        <li>{{prod.name}} - Price - {{prod.Price}} - Quantity - {{prod.num}}</li>
        <button (click)="add(prod)">+</button>
        <button (click)="remove(prod)">-</button>
    </ul>
</div>

<ng-template #continueShopping>
    <div>
        <h1>No item in your cart!!</h1>
        <a routerLink="../product">Continue Shopping</a>
    </div>
</ng-template>
